.Meassage{
    font-size: calc(10px + 2vmin);
    color: white;
    position: absolute;
    display: flex;
    bottom: 20%;
}
.MessageHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}